### build ###
node_modules
dist
build
target

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### logs ###
logs
dataround-link-web/yarn.lock
dataround-link-svc/src/main/resources/static

### h2 database ###
data/